
  {% extends 'base.html' %}
{% block title %}Home |{% endblock title %}

  {% block body %}

  <section class="banner" id="home">
    <div class="container">
      <div class="aligh-items-center row">
        <div class="col-xl-7 col-md-6 col-12">
          <div>
            <div class="">
              <span class="tagline">Welcome To UD Solutions</span>
              <h1>UD SOLUTIONS 
                <span class="txt-rotate" dataperiod="1000" data-rotate="[ &quot;At Your Service&quot; ]">
                  <span class="wrap">At Your Service</span></span></h1><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <button>Let’s Connect 
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-xl-5 col-md-6 col-12">
                <div>
                  <div class="animate__animated animate__zoomIn">
                    <img src="/static/images/animat.svg" alt="Header Img">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
  {% endblock body %} 
