{% extends 'base.html' %}
{% block title %}Portfolio |{% endblock title %}
{% block body %} 
<!-- portfolio strats -->
<section class="project" id="project">
    <div class="container">
        <div class="row">
            <div size="12" class="col">
                <div>
                    <div class="">
                        <h2>Projects</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <div class="nav-pills mb-5 justify-content-center align-items-center nav nav-pills" id="pills-tab" role="tablist">
                            <div class="nav-item">
                                <a role="tab" data-rr-ui-event-key="first" id="projects-tabs-tab-first" aria-controls="projects-tabs-tabpane-first" aria-selected="true" class="nav-link active">Tab 1</a>
                            </div>
                            <div class="nav-item"><a role="tab" data-rr-ui-event-key="second" id="projects-tabs-tab-second" aria-controls="projects-tabs-tabpane-second" tabindex="-1" class="nav-link">Tab 2</a>
                            </div>
                            <div class="nav-item"><a role="tab" data-rr-ui-event-key="third" id="projects-tabs-tab-third" aria-controls="projects-tabs-tabpane-third" tabindex="-1" class="nav-link">Tab 3</a>
                            </div>
                        </div>
                        <div class="tab-content" id="slideInUp">
                            <div role="tabpanel" id="projects-tabs-tabpane-first" aria-labelledby="projects-tabs-tab-first" class="fade tab-pane active show">
                                <div class="row"><div size="12" class="col-md-4 col-sm-6">
                                    <div class="proj-imgbx">
                                        <img src="/static/images/project-img1.png">
                                        <div class="proj-txtx">
                                            <h4>Business Startup</h4>
                                            <span>Design &amp; Development</span>
                                        </div>
                                    </div>
                                </div>
                                <div size="12" class="col-md-4 col-sm-6">
                                    <div class="proj-imgbx">
                                        <img src="/static/images/project-img2.png">
                                        <div class="proj-txtx">
                                            <h4>Business Startup</h4>
                                            <span>Design &amp; Development</span>
                                        </div>
                                    </div>
                                </div>
                                <div size="12" class="col-md-4 col-sm-6">
                                    <div class="proj-imgbx">
                                        <img src="/static/images/project-img3.png">
                                        <div class="proj-txtx">
                                            <h4>Business Startup</h4>
                                            <span>Design &amp; Development</span>
                                        </div>
                                    </div>
                                </div>
                                <div size="12" class="col-md-4 col-sm-6">
                                    <div class="proj-imgbx">
                                        <img src="/static/images/project-img1.png">
                                        <div class="proj-txtx">
                                            <h4>Business Startup</h4>
                                            <span>Design &amp; Development</span>
                                        </div>
                                    </div>
                                </div>
                                <div size="12" class="col-md-4 col-sm-6">
                                    <div class="proj-imgbx">
                                        <img src="/static/images/project-img2.png">
                                        <div class="proj-txtx"><h4>Business Startup</h4>
                                            <span>Design &amp; Development</span>
                                        </div>
                                    </div>
                                </div>
                                <div size="12" class="col-md-4 col-sm-6">
                                    <div class="proj-imgbx">
                                        <img src="/static/images/project-img3.png">
                                        <div class="proj-txtx">
                                            <h4>Business Startup</h4>
                                            <span>Design &amp; Development</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" id="projects-tabs-tabpane-section" aria-labelledby="projects-tabs-tab-section" class="fade tab-pane">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quam, quod neque provident velit, rem explicabo excepturi id illo molestiae blanditiis, eligendi dicta officiis asperiores delectus quasi inventore debitis quo.</p>
                        </div>
                        <div role="tabpanel" id="projects-tabs-tabpane-third" aria-labelledby="projects-tabs-tab-third" class="fade tab-pane">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quam, quod neque provident velit, rem explicabo excepturi id illo molestiae blanditiis, eligendi dicta officiis asperiores delectus quasi inventore debitis quo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<img class="background-image-right" src="/static/images/color-sharp2.png">
</section>
{% endblock body %} 
