{% extends 'base.html' %}
{% block title %}Services|{% endblock title %}
{% block body %} 

<section class="skill" id="skills">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="skill-bx wow zoomIn">
					<h2>Skills</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem Ipsum has been the industry's standard dummy text.</p>
					<div class="react-multi-carousel-list  owl-carousel owl-theme skill-slider" dir="ltr">
						<div class="item">
									<img src="/static/images/meter1.svg" alt="Image">
									<h5>Content Writing</h5>
									<br>
									<br>
								
									<img src="/static/images/meter2.svg" alt="Image">
									<h5>Web Development</h5>
									<br>
									<br>
								
									<img src="/static/images/meter3.svg" alt="Image">
									<h5>Graphic Designing</h5>
									<br>
									<br>
								
								</div>
										
									
										
									
												
												
											<button aria-label="Go to previous slide" class="react-multiple-carousel__arrow react-multiple-carousel__arrow--left " type="button">

											</button>
											<button aria-label="Go to next slide" class="react-multiple-carousel__arrow react-multiple-carousel__arrow--right " type="button">

											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<img class="background-image-left" src="static/images/color-sharp.png" alt="Image">
					</section>
{% endblock body %} 
